/*<!-- "Разработка сервиса - KAMOD Creative Agency  vkamode.ru"  -->*/
@media (max-width: 1920px) { 
	.big-slider .box-text {
		left: 18.9%;
	}
}

@media (min-width: 1200px) {
	.big-slider .box-head-img img {
		width: 100%;
		height: auto!important;
	}
	nav ul li {
		margin-right: 48px;
	}
}

/* #1- Large desktop */
@media (max-width: 1200px) { 
	.big-slider .box-text {
		left: 16%;
	}

	.advantage, .contact {
		width: 1000px;
	}

	.advantage-wrap {
		height: 960px;
	}

	.advantage-block.first {
		top: 220px;
		left: 140px;
	}

	.advantage-block.second {
		top: 220px;
		left: 580px;
	}

	.advantage-block.third {
		top: 445px;
		left: 140px;
	}

	.advantage-block.fore {
		top: 445px;
		left: 580px;
	}

	.advantage-block.five {
		top: 685px;
		left: 140px;
	}

	.advantage-block.six {
		top: 685px;
		left: 580px;
	}
	
}

/* #2- Desktop */
@media (max-width: 1044px) { 
	.instruction {
		width: 50%;
		min-width: 465px;
	}

	.instruction h2 {
		width: auto;
	} 

	.block-item p {
		margin-left: 0px;
	}

	.block-item {
		display: inline-block;
		width:160px;
		text-align: center;
		vertical-align: top;
		margin-bottom: 50px;
	}

	.line.second {
		display: none;
	}
}	

@media all and (max-width: 1200px) {
	.page, .container, header, footer, body, .item-cart {
		width: 100%;
		min-width: 960px;
	}

	.container {
		padding: 0 10px;
	}

	.item-cart {
		padding: 0 10px;
	}

	.item-cart .desc {
		width: 500px;
	}

	nav ul li {
		margin-right: 39px;
	}

	.clients .reviews .text-reviews {
		width: 260px;
	}

	section.about aside {
		padding: 40px;
	}

	.big-slider .box-head {
		width: 470px;
		padding: 40px 60px 0;
	}

	.postage-charge .wrapper {
		margin-right: 0;
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	nav ul li {
		margin-right: 23px;
	}
}

@media (max-width: 980px) {
	.konstruktor-book .material div {
		margin-right: 30px;
	}
}

@media (min-width: 768px) and (max-width: 980px) {
	nav ul li {
		margin-right: 16px;
	}
}

/* #3- Portrait tablet to landscape and desktop */
@media (max-width: 500px) {
	.instruction {
		width: 100%;
		min-width: 200px;
		padding-left: 0;
	}

	.block-item {
		width:100%;
		margin-bottom: 50px;
	}

	.block-item img {
		float: none;
		padding-left: 40px;
	}

	.block-item p {
		width: 72%;
	}

	.line {
		display: none;
	}

	.advantage-wrap {
		height: 1460px;
	}

	.advantage-block.first {
		top: 200px;
		left: 18%;
	}

	.advantage-block.second {
		top: 400px;
		left: 18%;
	}

	.advantage-block.third {
		top: 600px;
		left: 18%;
	}

	.advantage-block.fore {
		top: 800px;
		left: 18%;
	}

	.advantage-block.five {
		top: 1000px;
		left: 18%;
	}

	.advantage-block.six {
		top: 1200px;
		left: 18%;
	}
}

