html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}


p {line-height: 26px;}
/* Clearing floats */
.clear:after,
.row:after,
.container:after,
.wrapper:after,
.format-status .entry-header:after,
 .list-var-3::after {
	clear: both;
}
.clear:before,
.clear:after,
.row:before,
.row:after,
.container:before,
.container:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after,
.list-var-3::before,
.list-var-3::after {
	display: table;
	content: "";
}

body,html {
    padding: 0;
    margin: 0;
}

.va-m {
	vertical-align: middle!important;
}

/*TYPOGRAFY*/
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

input {
	padding: 10px 15px;
	border: 1px solid #ccc;
	outline: 0;
}

h1, h2, h3, h4, h5, h6 {font-weight: 300;}

a {
	color: #9d776e;
	text-decoration: none;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	transition: color 1s;
}

a:hover {
	color: #3C2D2A;
}

.typografy {
	margin-top: 40px;
	margin-bottom: 50px;
}

.typografy ul li {
	margin-bottom: 10px;
}

.typografy ul li::before {
	content:'\2014';
	margin-right: 7px;
}

.typografy h1, .typografy h2, .typografy h3, 
.typografy h4, .typografy h5, .typografy h6 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.typografy p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.typo-block {
	margin-top: 40px;
	margin-bottom: 40px;
}

.typografy .typo-article {
	margin-bottom: 20px;
}

blockquote {
	padding-left: 10px;
	font-style: italic;
	line-height: 22px;
	border-left: 2px solid #9d776e;
}

ul.list-unstyled li::before {
	content:'';
	margin-right: 0;
}
/* ====================================
-----------BEGIN HERE------------------
=====================================*/
.loadingoverlay {
	z-index: 999;
}

html {
 	width: 100%;
 	height: 100%;
 	min-width: 1220px;
 	position: relative;
}

body { 
	font-family:  'Open Sans', 'PFEncoreSansPro-Light',sans-serif;
	-webkit-font-smoothing: antialiased;
 	height: 100%;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page {
 	min-height: 100%;  
 	min-width: 1200px;
 	background: #fff;
 	position: relative;
 	padding-bottom: 460px;
 	-webkit-overflow-scrolling: touch;
}

.page.page-3d {
	background: transparent;
}

.wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	min-height: 250px;
}

.inline-element {
	display: inline-block;
	display: -moz-inline-stack;
}

.inline-list li {
	display: inline-block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.middle {
	margin: 0 auto;
	display: block;
}

.center {
	text-align: center;
}

.hidden {
	display: none!important;
}

.no-width {
	width: 0;
}

.invisible {opacity: 0}

.show {
	display: block!important;
}

.clear {
	width: 100%;
	clear: both;
}

.name-order {
	margin-bottom: 40px;
	color: #a98780;
	font-weight: 400;
}

.order-parametrs li {
	margin: 20px 0;
}

.order-parametrs  .small-img {
	height: 60px;
	margin-left: 10px;
	vertical-align: middle;
}

.no-touch .top-marker {
	position: fixed;
	width: 100%;
	bottom: 0;
	margin-top: -5px;
	padding: 10px;
	color: #9d776e;
	font-size: 18px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.no-touch .top-marker:hover {
	background-color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

#bx-pager, .bx-pager {
	height: 50px;
	background: #ffffff;
}

#bx-pager .container, .bx-pager .container {
	padding: 0 30px;
}

#bx-pager a, .bx-pager a,
.filter a {
	font-size: 14px;
	line-height: 50px;
	color: #3a3a3a;
	font-weight: 300;
	width: 170px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	/*font-family: 'PFEncoreSansPro-Reg';*/
}

.splitter {
	padding: 0 10px;
} 

.splitter .active a {
	color: #9d776e;
	text-decoration: underline;
}

.filter a {
	width: auto;
	margin-right: 40px;
	font-weight: 400;
}

.no-touch #bx-pager a:hover, .no-touch .bx-pager a:hover,
.no-touch .filter a:hover, 
.filter a.active {
	color: #9d776e;
}

#bx-pager a .triugl, .bx-pager a .triugl {
	position: absolute;
	top: -8px;
	left: 0px;
	display: none;
}

#bx-pager a.active .triugl, .bx-pager a.active .triugl {
	display: inline-block;
}

/*--------GENERAL-----------*/

.text-left {text-align: left!important;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.oreder-sucsess {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #9d776e;
	font-size: 24px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn {
	display: inline-block;
	min-width: 110px;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

.no-touch .btn:hover {
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

.btn-main {
	min-height: 32px;
    color: #fff;
	background-color: #9d776e;
}

.btn-link {
	color: #9d776e;
	text-decoration: none;
}

.no-touch .btn-link:hover {
	color: #7f6059;
}

.no-touch .btn-main:hover {
	color: #fff;
	background-color: #7f6059;
}

.btn-different {
	min-width: 110px;
	padding: 5px 0 9px;
	color: #9d776e;
	font-size: 18px;
	line-height: 20px;
	background: transparent;
	border: 1px solid #9d776e;
}

.no-touch .btn-different:hover {
	color: #7f6059;
	border-color: #7f6059;
}

.btn-gray {
	padding: 10px 12px;
	color: #fff;
	background-color: #222222;
}

.no-touch .btn-gray:hover {
	color: #fff;
	background-color: #333;
}

.back-turns::before {
	content: '';
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	background: url(../img/owl-prev.png);
	vertical-align: middle;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.no-touch .back-turns:hover::before {
	content: '';
	background: url(../img/owl-prev-hov.png);
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.bg-grad {
	background: #fff6f2;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmY2ZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjJhZmFlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, #fff6f2 0%, #b2afae 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fff6f2), color-stop(100%,#b2afae));
	background: -webkit-radial-gradient(center, ellipse cover, #fff6f2 0%,#b2afae 100%);
	background: -o-radial-gradient(center, ellipse cover, #fff6f2 0%,#b2afae 100%);
	background: -ms-radial-gradient(center, ellipse cover, #fff6f2 0%,#b2afae 100%);
	background: radial-gradient(ellipse at center, #fff6f2 0%,#b2afae 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6f2', endColorstr='#b2afae',GradientType=1 ); 
}

.full-block {
	width: 100%;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 5%;
	border-top: 1px solid transparent;
}

.block-footer {
	margin-top: -65px!important;
}

.page-sf {
	padding-bottom: 65px;
}

.page.bg-grad {
	padding-bottom: 65px;
}

.block-errors {
	margin-top: 60px;
	margin-bottom: 30px;
}

.block-errors .h4 {
	margin-bottom: 40px;
}

.block-errors p {
	width: 300px;
	margin: 20px auto;
	line-height: 18px;
}

input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input, input:focus {
	outline: none;
}

input:[type="text"] {
	background: transparent;
}


.item1Modal {
	width: 500px!important;
}

.i-user-size {
	display: block;
	width: 85px;
	padding: 5px 10px;
	text-align: center;
}

.input-customize {
	margin-bottom: 10px;
	padding: 10px 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #9d776e;
	border-left: 0;
	outline: none;
	background-color: transparent;
	background-color: #3CC!important;
    background-color: #fff!important;
}
.input-customize:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #000 !important;
    color: #000 !important;
}

.img-navigation li {
	color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 0px;
    font-size: 12px;
    min-width: 32px;
    height: 32px;
    line-height: 26px;
    vertical-align: top;
}

.img-navigation li {
	color: #888;
	text-align: center;
	text-decoration: none;
}

.img-navigation li a {
	padding: 8px 10px;
	color: inherit;
	text-decoration: none;
	line-height: 18px;
	vertical-align: bottom;
}

.no-touch .img-navigation li:hover, .img-navigation .active {
	background-color: #fbfbfb;
	outline: 1px solid #9d776e;
	color: #000;
}

.img-navigation .disabed {
	display: none;
}

.img-navigation .prev {
	background: url(../img/owl-prev.png);
}

.no-touch .img-navigation .prev:hover {
	background: url(../img/owl-prev-hov.png);
}

.img-navigation .next {
	background: url(../img/owl-next.png);
}

.no-touch .img-navigation .next:hover {
	background: url(../img/owl-next-hov.png);
}

.bg-light {
	background-color: #fbfbfb;
}

.transition, .some-inf-footer .infoblock .head.link, .owl-next, .owl-prev {
	-webkit-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

.no-touch .transition:hover, .no-touch .some-inf-footer .infoblock .head.link:hover, .no-touch .owl-next:hover,
.no-touch .owl-prev:hover {
	-webkit-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
}

/*===========================================start===========================================*/

header {
	width: 100%;
	min-width: 1200px;
	display: block;
	height: 160px;
	z-index: 10;
	position: relative;
	text-align: center;
	box-shadow: none;
	margin-bottom: 46px!important;
}

header .logo {
	padding-top: 52px;
	display: inline-block;
}

header .logo img {
	width: 230px;
	height: 76px;
}

header .block-header {
	top: 65px;
	right: 60px;
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 55px;
}

header .cart p {
	font-size: 12px;
	color: #9d776e;
	font-weight: 300;
	padding-top: 10px;
	text-align: center;
}

header .login-btn {}

header .login-btn .enter {
	background: #9d776e;
}

nav {
	position: absolute;
	top: 160px;
	float: none;
	width: 100%;
	padding: 0;
	background: #fff;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	z-index: 100;
}

nav ul, .some-inf-footer .container, footer {
	padding: 0 10px;
}

nav ul li {
	position: relative;
	display: inline-block;
	margin-top: 7px;
	margin-right: 45px;
	margin-bottom: 7px;
	vertical-align: middle;
}

nav ul li::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: transparent;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

nav ul .active::after, .no-touch nav ul li:hover:not(:last-child)::after {
	width: 100%;
	border-bottom-color: inherit;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	display: inline-block;
	outline: none;
	/*font-family: 'PFEncoreSansPro-Reg';*/
	font-family: 'Exo 2.0', sans-serif;
	cursor: pointer;
}

nav ul li a span {
	margin-left: 5px;
	color: #9d776e;
}

nav .cart {
	color: #9d776e;
	text-transform: lowercase;
}

nav .cart i {
	font-size: 26px;
	margin-right: 15px;
}

nav .cart::before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
	background: url(../img/cart.png);
	background-size: 25px 25px;
	vertical-align: middle;
}

.h4 {
	font-size: 18px;
}

.bold {
	font-weight: 700;
}

.colored {
	color: #9d776e;
}

.smaller {
	font-size: 12px;
}

.link {
	color: #9d776e;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.no-touch .link:hover {
	color:#000;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.bread-crumbs {
	height: 35px;
	padding: 0 10px;
}

.bread-crumbs a, .bread-crumbs .active {
	font-size: 10px;
	color: #000;
	line-height: 35px;
} 

.bread-crumbs a  {
	text-decoration: none;
	padding-right: 5px;
}

.no-touch .bread-crumbs a:hover, .bread-crumbs .active {
	text-decoration: underline;
}

.bread-crumbs li:not(:last-child)::after {
	content: '/';
	color: #000;
	line-height: 35px;
	font-size: 14px;
}

.mb-30 {
	margin-bottom: 30px;
}

/*=======================================================================content*/
.container {
	display: block;
	width: 1200px;
	margin: 0 auto;
	min-width: 1200px;
}

.anchor {
	position: relative;
	top: -90px;
	clear: both;
}

section .title {
	width: 100%;
	max-height: 110px;
	padding: 42px 0;
	display: block;
	text-align: center;
	color: #9d776e;
	font-size: 26px;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
}

section .title a {
	position: relative;
	color: #9d776e;
	text-decoration: none;
}

section .title a::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0%;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: transparent;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}


.no-touch section .title a:hover::after{
	width: 100%;
	border-bottom-color: #9d776e;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.help-block {
	margin-top: 10px;
	font-size: 12px!important;
    color: red!important;
}

.disabled {
    pointer-events: none; 
    cursor: default;  
    opacity: 0;
}

.container .go {
	height: 500px;
}
/*===================================================about*/
section.about {
	background: #fff;
	display: inline-block;
}

section.about .sidebur {
	width: 53%;
}

section.about aside {
	width: 46%;
	background: #fff;
	padding: 40px 75px;
}

section.about aside .head {
	font-size: 14px;
	color: #000;
	width: 350px;
	line-height: 18px;
	margin-bottom: 25px;
	font-weight: 600;
}

section.about aside .text {
	font-size: 14px;
	color: #000;
	width: 400px;
	line-height: 19px;
	font-weight: 300;
}

.about-owl-carousel img {
	width: 100%;
}

.about-owl-carousel .owl-buttons {
	position: absolute;
	top: 45%;
	right: -32px;
}

.owl-buttons .owl-prev {
	background: url(../img/owl-prev.png);
}

.owl-buttons .owl-next {
	background: url(../img/owl-next.png);
}

.no-touch .owl-buttons .owl-prev:hover {
	background: url(../img/owl-prev-hov.png);
}

.owl-buttons .owl-next:hover {
	background: url(../img/owl-next-hov.png);
}

#about-owl-slide .owl-buttons .owl-prev,
.about-owl-slide .owl-buttons .owl-prev {
	background: url(../img/owl-prev-hov.png);
}

.no-touch #about-owl-slide .owl-buttons .owl-prev:hover,
.no-touch .about-owl-slide .owl-buttons .owl-prev:hover {
	background: url(../img/owl-prev.png);
}

#about-owl-slide .owl-item .item,
.about-owl-slide .owl-item .item {
	width: 100%;
	max-height: 420px;
	overflow: hidden;
}

.owl-pagination {
	display: none;
}

.owl-carousel3-farz .owl-item {
	margin: 30px 0;
}

.no-touch .owl-item .item:hover p {
	color: #000;
}

.owl-item p::before {
	background: transparent!important;
}

.owl-carousel3-farz .item, .owl-carousel5-farz .item {
	position: relative;
	margin: 35px 20px 35px 0;
	padding: 0 10px;
}

.owl-carousel3-farz .item, .owl-carousel5-farz a {
	display: inline-block;
}

.owl-carousel5-farz a {
	float: left;
	width: 186px;
	height: 124px;
	margin: 4px 2px;
}

.owl-carousel3-farz img, .owl-carousel5-farz img {
	width: 100%;
	height: 100%;
}

.owl-carousel3-farz  a {
	text-decoration: none;
}

.owl-carousel-farz  a img, .owl-carousel3-farz  a img, .owl-carousel5-farz  a img {
	width: 100%;
	border: 2px solid transparent;
}

.owl-carousel3-farz p {
	margin-top: 20px;
	color: #000;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

.owl-carousel3-farz img.active, .owl-carousel3-farz .active img,
.owl-carousel5-farz img.active, .owl-carousel5-farz .active img {
	border: 2px solid #9d776e;
}

.dt-modal.js-owlSlider {
	padding: 10px 30px;
	overflow-y: hidden;
}

section.collection {
	background: #fff;
	display: inline-block;
	width: 100%;
}

.collection .item-collection {
	margin-bottom: 50px;
}

.item-collection, .item {
	display: inline-block;
	width: 32%;
	margin-right: 2%;
	float: left;
	position: relative;
	border-bottom: 2px solid transparent;
}

.wrap-clients .item, .box-modal .item {
	width: 100%;
}

.item-collection:nth-child(3n) {
	margin-right: 0;
}

.item-collection .link-collection, .i-hover {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0;
}

.no-touch .item-collection:hover .link-collection span, .no-touch .item:hover .i-hover span {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 95%;
	color: #fff;
	font-size: 32px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: color 1s 0.3s linear;
	-ms-transition: color 1s 0.3s linear;
	transition: color 1s 0.3s linear;
}

.item-collection .part-link {
	position: relative;
	text-align: center;
}

.item-collection .part-link .triugl {
	position: absolute;
	top: -11px;
	left: 70px;
	display: none;
}

.item-collection .part-link a, .item-collection .part-link span {
	position: relative;
	color: #010101;
	font-size: 14px;
	line-height: 50px;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 3;
}

.item-collection .part-link .btn-main {
	padding-left: 10px;
	padding-right: 10px;
	color: #fff
}

section.clients {}

.wrap-clients {
	background: #fff;
	display: inline-block;
	width: 100%;
}

.clients .reviews {
	width: 58.3333333333%;
	padding: 130px 60px;
	display: block;
	float: left;
	vertical-align: top;
}
.clients .one-box {
	display: inline-block;
}

.clients .reviews .client-ava {
	display: inline-block;
	padding-right: 35px;
	vertical-align: top;
}

.clients .reviews .text-reviews {
	display: inline-block;
	width: 390px;
}

.clients .reviews .text-reviews .name {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 22px;
	display: inline-block;
}

.clients .reviews .text-reviews .text {
	color: #000;
	font-size: 14px;
	line-height: 18px;
}

.wrap-owl-slide {
	width: 30.4166666667%;
	padding-top: 70px;
	display: inline-block;
}

.wrap-owl-slide .item a {
	display: inline-block;
	margin-bottom: 4px;
}

.item a .clients-colar {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
	filter: gray; /* IE 6-9 */
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.no-touch .item a:hover .clients-colar, .item .active .clients-colar {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none; /* Firefox 4+ */
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

#owl-slide .owl-buttons, .owl-slide .owl-buttons {
	padding-right: 7px;
}

.box-modal .owl-slide .owl-buttons {
	text-align: center!important;
}

.box-modal .owl-theme .owl-controls {
	text-align: center;
}

.box-modal .part-link::before {
	content: '';
	background: none!important;
}

#owl-slide .owl-buttons .owl-prev, .owl-slide .owl-buttons .owl-prev {
	margin-right: 5px;
}

.wrap-go {
	width: 100%;
	padding: 50px 0 55px;
	background: url(../img/bg-club.jpg);
}

.container.go .slogan {
	color: #9d776e;
	font-size: 26px;
	line-height: 35px;
	text-align: center;
	display: block;
	width: 370px;
	margin: 0 auto;
	margin-bottom: 35px;
}

.container.go .text {
	color: #000;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
}

.some-inf-footer {
	height: 395px;
	padding: 75px 0 90px;
	border-top: 1px solid #e2e2e2;
	background: #f7f4f2;
}

.some-inf-footer .infoblock {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.some-inf-footer .infoblock:nth-child(1) {
	padding-right: 13%;
}

.some-inf-footer .infoblock:nth-child(1) .text {
	margin-bottom: 20px;
}

.some-inf-footer .infoblock:nth-child(2) {
	padding-right: 3%;
	padding-left: 3%;
}

.some-inf-footer .infoblock:nth-child(2) .text {
	width: 270px;
}

.some-inf-footer .infoblock:nth-child(3) {
	padding-right: 1%;
	padding-left: 11%;
	text-align: left;
}

.some-inf-footer .infoblock .head {
	font-size: 24px;
	color: #9d776e;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-weight: 300;
	display: inline-block;
	line-height: 40px;
}

.some-inf-footer .infoblock .head  a {
	font-size: 24px;
	color: #9d776e;
	text-transform: uppercase;
}

.some-inf-footer .phone {
	width: 80%;
}

.some-inf-footer .infoblock .post-charge {
	display: block;
	margin-top: 20px;
}

.some-inf-footer .infoblock .head.link {
	width: 270px;
	padding: 7px 20px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 26px;
	background: #9d776e;
}

.no-touch .some-inf-footer .infoblock .head.link:hover {
	background-color: #7f6059;;
}

.some-inf-footer .infoblock .text {
	color: #010101;
	font-size: 14px;
	line-height: 18px;
}

.some-inf-footer .infoblock a {
	position: relative;
	display: inline-block;
	color: #9d776e;
	font-size: 14px;
	text-decoration: none;
}

.some-inf-footer .infoblock a::after, .item-news .inf .name::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: inherit;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.some-inf-footer .infoblock .post-charge a::after, .some-inf-footer .infoblock .social a::after {
	border-bottom-width: 0;
}

.no-touch .some-inf-footer .infoblock a:hover::after {
	width: 100%;
	border-bottom-color: inherit;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.some-inf-footer .infoblock .phone,
.some-inf-footer .infoblock .social
 {
	margin-top: 20px;
	display: inline-block;
}

.some-inf-footer .infoblock .phone .text {
	display: inline-block;
}

.some-inf-footer .infoblock .social a, .some-inf-footer .post-charge i {
	width: 34px;
	height: 34px;
	margin-right: 10px;
	border-radius: 34px;
	background: #9d776e;
	text-align: center;
	float: left;
	display: inline-block;
	line-height: 35px;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
}

.some-inf-footer .post-charge i {
	float: none;
	color: #fff;
}

.no-touch .some-inf-footer .infoblock .social a:hover {
	background: #7f6059;
}

.some-inf-footer .infoblock .social i {
	color: #fff;
	font-size: 15px;
	line-height: 34px;
}

.big-slider.gray {
	background: #acacac;
	height: 420px;
	position: relative;
}

.big-slider.ktl {
	height: 420px;
	position: relative;
	overflow: hidden;
}

.big-slider .box-head {
	display: inline-block;
	position: relative;
	padding: 70px 60px 0 0;
	width: 600px;
	height: 420px;
	background: #acacac;
	float: right;
}

.big-slider .box-head .some-text {
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}

.big-slider .box-head h1.name {
	color: #fff;
	font-size: 72px;
	margin-bottom: 43px;
}

.big-slider .box-head .text {
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	/*font-family: "PFEncoreSansPro-Light"*/
}

.big-slider .box-head-img {
	width: 50%;
	height: 420px;
	float: right;
	overflow: hidden;
	text-align: right;
	display: inline-block;
}

.big-slider .box-head-img img {
	height: 100%;
}

.big-slider .bx-viewport, .big-slider .bxslider img {
	max-height: 420px;
}

.big-slider .bg-liner {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 420px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;1+0,0+30,0+71,1+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 71%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(30%,rgba(0,0,0,0)), color-stop(71%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 71%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 71%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 71%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 71%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
z-index: 1;
}

.katalog { 
	width: 100%;
	max-width: 1200px;
	padding: 35px 10px 50px;
	display: inline-block;
}

.p-none {
	padding: 0!important;
	min-height: none!important;
}

.box-modal .turn1 {
	position: relative;
	padding-bottom: 50px;
}

.katalog li, .katalog .item-collection {
    width: 31%;
    margin: 1%;
    display: inline-block;
    position: relative;
}

.katalog li:nth-child(3n+1),
.katalog .item-collection:nth-child(3n+1) {
	margin-left: 0;
}

.katalog li:nth-child(3n),
.katalog .item-collection:nth-child(3n) {
	margin-right: 0;
}

.katalog .item-collection {
	margin-right: 0;
	display: inline-block;
	background-color: #fff;
}

.katalog li img {
	height: 244px;
}

.katalog li .item-collection {
	width: 	100%;
}

.katalog .item-collection .part-link a, .katalog .item-collection .part-link span {
	position: relative;
	text-transform: uppercase;
	z-index: 3;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.katalog.knigi .item-collection:nth-child(1), .katalog.knigi .item-collection:nth-child(2) {
	margin-top: 0;
}

.katalog.knigi .item-collection {
	width: 48%;
    margin: 15px 4% 40px 0;
}

.katalog.knigi .item-collection:nth-child(even) {
	margin-right: 0;
}

.katalog.knigi .item-collection img {
	height: 388px;
}

.konstruktor {
	position: relative;
	padding: 60px 0;
}

.konstruktor .slider-book {
	width: 570px;
	margin-right: 30px;
	display: inline-block;
	float: left;
	margin-bottom: 70px;
	overflow: hidden;
}

.konstruktor .syncCB img {
	height: 400px;
}

.konstruktor .slider-book .fix-height {
	height: 520px;
}

.konstruktor #bx-pager, .konstruktor .bx-pager {
	overflow: hidden;
}

.konstruktor #bx-pager .container, .konstruktor .bx-pager .container {
	height: 100%;
	padding: 0;
}	

.konstruktor #bx-pager, .konstruktor .bx-pager {
	max-width: 480px;
	height: 105px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}

.konstruktor #bx-pager img, .konstruktor .bx-pager img {
	width: 100%;
	height: 100%;
}

.konstruktor .bigpreviews .bx-pager {
	height: 167px;
}

.konstruktor #bx-pager a, .konstruktor .bx-pager a {
	display: inline-block;
	float: left;
	margin-right: 2px;
	width: 158px;
	height: 100%;
	overflow: hidden;
}

.konstruktor .bigpreviews  .bx-pager a {
	width: 263px;
	height: 165px;
}

.slider-book  .bx-pager .active {
	padding: 1px;
	border: 1px solid #000;
}

.konstruktor .text-banner {
	padding: 57px;
	color: #fff;
	background-color: #acacac;
}

.konstruktor .text-banner p {
	margin-bottom: 50px;
	font-size: 48px;
}

.konstruktor .text-banner li {
	position: relative;
	margin-bottom: 20px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 18px;
}

.konstruktor .text-banner li:last-child {
	margin-bottom: 0;
}

.konstruktor .text-banner li::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../img/li-check.png);
}

.konstruktor .img-preview {
	margin-top: 30px;
}

.konstruktor .img-preview a {
	display: inline-block;
}

.konstruktor .img-preview a:nth-child(2n) {
	float: right;
}

.konstruktor-book {
	display: inline-block;
	width: 50%;
}

.konstruktor h1 {
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 25px;
	color: #010101;
}

.konstruktor-book p {
	color: #010101;
	font-size: 14px;
	line-height: 18px;
}

.konstruktor-book .char {
	margin-bottom: 20px;
	color: #010101;
	font-size: 14px;
}

.konstruktor-book .price {
	color: #a07b72;
}

.konstruktor-book .cost {
	margin-bottom: 15px;
	color: rgb(160, 123, 114);
	font-size: 16px;
	line-height: 26px;
}

.konstruktor-book .cost span {
	margin-left: 5px;
	font-size: 12px;
	text-decoration: line-through;
}

.konstruktor-book .link-main {
	display: inline-block;
	color: #9d776e;
	font-size: 14px;
	text-decoration: underline;
}

.no-touch .konstruktor-book .link-main:hover {
	text-decoration: none;
}

.konstruktor-book table {
	width: 100%;
	background: #fff;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.konstruktor-book .items-table {
	height: 395px;
}

.konstruktor-book table .name {
	background: #9d776e;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
}

.konstruktor-book table .required {
    display: inline-block;
    margin-right: 5px;
    padding: 0px 5px;
    color: #fff;
    font-size: 8px;
    line-height: 12px;
    border: 1px solid #fff;
    vertical-align: middle;
    cursor: pointer;
}

.konstruktor-book table .name.itogo {
	text-transform: uppercase;
}

.konstruktor-book table .name.sum {
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
}

.konstruktor-book table tr.disabled {
	opacity: 1;
}

.konstruktor-book table tr.disabled td:nth-child(even) {
	opacity: .2;
}

.konstruktor-book table td {
	padding: 10px 20px;
}

.konstruktor-book table .bg-konstr {
	text-align: right;
	background: #9d776e;
	vertical-align: top;
}

.no-touch .konstruktor-book table .required::before:hover .page-wrap {
	display: block;
}

.konstruktor-book td:nth-child(odd) {
	width: 42%;
}

.konstruktor-book td:nth-child(even) {
	width: 58%;
}

.konstruktor-book table .book-size span, .konstruktor-book .material-type span {
	padding: 5px;
	border: 1px dashed #888888;
	color: #888888;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	margin-bottom: 9px;
	font-size: 14px;
}

.konstruktor-book table .book-size span {
	margin-right: 9px;
}

.konstruktor-book .material-type span {
	width: 100%;
}

.konstruktor-book table .file-link {
	height: 85px;
}

.konstruktor-book table .file-link input {
	width: 100%;
	margin: 0;
	background-color: #fff;
    background-color: #fff!important;
}

.konstruktor-book table .file-link input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; 
    -webkit-text-fill-color: #999 !important;
    color: #999 !important;
}

.konstruktor-book .add-info {
	color: #e3d1cd;
	font-size: 11px;
}

.konstruktor-book .price-table {
	height: 125px;
}

.konstruktor-book .price-table .itog {
	color: #e3d1cd;
	font-size: 12px;
}

.konstruktor-book table .name strike {
	color: #e3d1cd;
	font-size: 12px;
}

.konstruktor-book .price-table .bg-konstr {
	vertical-align: bottom;
}

.book-description ul li {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.price {
	margin-top: 30px;
}

.file-link input {
	width: 400px;
	margin: 30px 0 0 0;
	padding: 5px 0;
	border-top: none;
	border-right: 0;
	border-bottom: 1px solid #9d776e;
	border-left: none;
	background: transparent;
	outline: none;
}

.konstruktor-book .material div {
	display: inline-block;
	margin-right: 45px;
	vertical-align: top;
}

.konstruktor-book .material .back {
	margin-right: 0;
}

.konstruktor-book .material a {
	position: relative;
	display: inline-block;
	padding: 20px 30px;
	border: 1px dashed #888888;
	min-width: 98px;
	min-height: 80px;
}

.konstruktor-book .material p {
	margin-top: 20px;
	color: #9d776e;
	font-size: 14px;
}

.konstruktor-book .material div p {
	max-width: 98px;
	margin-top: 5px;
	text-align: center;
}

.konstruktor-book .additional {
	color: #888888;
	line-height: 18px;
	text-align: left;
}

.konstruktor-book .material a:nth-child(2n) {
	margin-right: 0;
}

.take-print {
	position: relative;
}

.take-print .take {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	z-index: 10;
}

.take-print.cmat {
	padding: 10px 0;
	width: 130px;
}

.no-touch .konstruktor-book table .book-size span:hover,
.konstruktor-book table .book-size span.active,
.no-touch .konstruktor-book .material-type span:hover,
.konstruktor-book .material-type .active {
	background: #9d776e;
	color: #fff;
	border: 1px dashed #9d776e;
}

.konstruktor-popup {
	display: none;
	position: absolute;
	top: 221px;
	right: 140px;
	max-width: 530px;
	padding: 20px;
	text-align: center;
	background-color: #9d776e;
	z-index: 999;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

.konstruktor-popup img {
	max-width: 100%;
}

.konstruktor-popup p {
	padding-top: 15px;
	color: #fff;
}

.block-designTurns .item-collection.active {
	border-bottom: 2px solid #9d776e;
}

.block-designTurns .col-img img {
	max-height: 253px;
}

.count-page, .count-book  {
	color: #9d776e;
}

.count-page .arrow, .count-book .arrow, .count-minibook .arrow {
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-right: 4px;
	color: #9d776e;
	border: 1px solid #000;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	cursor: pointer;
	vertical-align: middle;
}

.count-page .arrow img, .count-book .arrow img, .count-minibook .arrow img {
	width: 100%;
}

.count-page .num, .count-book .num, .count-minibook .num  {
	display: inline-block;
	width: 35px;
	margin-right: 4px;
	padding: 0;
	color: #9d776e;
	line-height: 22px;
	text-align: center;
	font-size: 14px;
	background: #fff;
	border: 0;
	outline: 0;
	cursor: default;
}

.konstruktor-book table .paper-type span {
	color: #000;
	margin-right: 38px;
	cursor: pointer;
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
}

.konstruktor-book table .paper-type span.active {
	color: #9d776e;
}

.konstruktor-book table .dvd label {
	color: #000;
	margin-left: 30px;
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
}

.konstruktor-book table .print .choose {
	color: #000;
	margin-right: 38px;
	display: inline-block;
	line-height: 38px;
	font-size: 14px;
	border-bottom: 1px dashed #000;
	text-decoration: none;
	height: 30px;
    vertical-align: bottom;
}

.konstruktor-book table .order {
	padding-top: 24px;
	padding-bottom: 0;
	vertical-align: bottom;
}

/*konstruktor-book -> decorative-stitching*/
.konstruktor-book .blocks a {
	position: relative;
	display: inline-block;
	margin: 5px;
	font-size: 14px;
	text-decoration: none;
	background-color: #fbfbfb;
}

.konstruktor-book .blocks a:not(.photo) {
	width: 50px;
	height: 50px;
	border: 1px solid #e2e2e2;
}

.no-touch .konstruktor-book .blocks a:hover:not(.photo), .konstruktor-book .blocks .active:not(.photo) {
	border: 1px solid #9d776e;
}

.konstruktor-book .blocks .photo {
	width: 77px;
	height: 55px;
}

.konstruktor-book .decorative-stitching a {
	padding: 16px 14px;
	color: #888888;
	border: 1px solid #888;
	vertical-align: middle;
}

.no-touch .konstruktor-book .decorative-stitching a:hover, .konstruktor-book .decorative-stitching .active {
	color: #9d776e;
}

.konstruktor-book .decorative-stitching .decor:after  {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 42px;
	height: 42px;
	border: 1px dashed #888;
}

.no-touch .konstruktor-book .decorative-stitching .decor:hover::after, .konstruktor-book .decorative-stitching .decor.active::after {
	border: 1px dashed #9d776e;
}

.personalization-to a {
	text-decoration: none;
}

.personalization-to a:not(.active) {
	opacity: 0.5;
}

.no-touch .personalization-to a:hover {
	opacity: 1;
}
/*////konstruktor-book -> decorative-stitching*/

/*konstruktor-book -> plate*/

.rub {
	position: relative;
}

.rub::after {
	content: '';
	position: absolute;
	bottom: 30%;
	left: 0;
	display: block;
	width: 70%;
	border-bottom-width:1px;
	border-bottom-style: solid;
}

.konstruktor-book .wishes textarea {
	padding: 6px;
	width: 100%;
	min-height: 45px;
	border: 1px solid #888;
	resize: vertical;
	outline: none;
}

.konstruktor-book .photo a, .konstruktor-book .photo span {
	display: inline-block;
	width: 77px;
	height: 55px;
	margin-right: 20px;
	background: url(../img/kat-photo-sprites.png);
}

.konstruktor-book .photo .with {background-position: -80px -60px;}
.no-touch .konstruktor-book .photo .with:hover, .konstruktor-book .photo .with.active, .konstruktor-book .active .with {
	background-position: -80px 0;
}

.konstruktor-book .photo .without {background-position: 0 0;}
.no-touch .konstruktor-book .photo .without:hover, .konstruktor-book .photo .without.active, .konstruktor-book .active .without {
	background-position: 0 -60px;
}

.konstruktor-book .embossing a {
	display: inline-block;
	min-height: 18px;
	margin-right: 20px;
	margin-bottom: 10px;
	color: #888;
	text-decoration: none;
	border-bottom: 1px dashed #888;
}

.konstruktor-book .embossing a:nth-child(3n) {
	margin-right: 0;
}

.konstruktor-book .embossing a.active, .no-touch .konstruktor-book .embossing a:hover {
	color: #9d776e;
	border-bottom: 0;
}

.konstruktor-book .sum > span {
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	padding: 8px 10px;
	font-size: 21px;
	border: 1px solid #ffffff;
}

.thx-for-order {
	display: none;
}

.thx-for-order a {
	display: inline-block;
	margin-top: 30px;
	color: #9d776e;
}

.no-touch .thx-for-order a:hover {
	text-decoration: none;
}


.before-same {
	margin-bottom: 60px;
}

.same {
	padding-bottom: 130px;
}

.same .title-same-for, .before-same .title-same-for {
	color: #010101;
	font-size: 24px;
	/*font-family: "PFEncoreSansPro-Book";*/
	margin-bottom: 25px;
}

.same .item-collection.owl, .before-same .item-collection.owl {
	width: 100%;
}

.same .owl-carousel .owl-item, .before-same .owl-carousel .owl-item {
	overflow: hidden;
	padding: 10px;
}

.col-img img, .col-img {
	width: 100%;
}

.same .item-collection .part-link, .before-same .item-collection .part-link {
	text-align: center;
}

.same .item-collection .part-link a, .before-same .item-collection .part-link a, .same .item-collection .part-link span, .before-same .item-collection .part-link span {
	padding-left: 0;
	text-transform: uppercase;
}

.owl-carousel-farz .farz {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	float: left;
	width: 180px;
	margin: 0 20px 20px 0;
	height: 115px;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

.owl-carousel-farz .farz.active {
	border: 2px solid #9d776e;
}

.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 18px;
	height: 18px;
}

.checkbox + label {
	cursor: pointer;
	width: 18px;
	height: 18px;
	font-size: 14px
}

.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}

.checkbox:not(checked) + label {
	position: relative; 
}

.checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	display: inline-block;
	top: 0px;
	left: -30px;
	width: 18px;
	height: 18px;
	background: transparent;
	border: 1px solid #9d776e;
}

.checkbox:checked + label:before {
	background: url(../img/checkbox.png);
	width: 18px;
	height: 18px;
	display: inline-block;
	border: 1px solid #9d776e;
	background-position: 50% 50%;
}


.full-img {
	position: absolute;
	width: 100%;
}

.filter {
	height: 50px;
    background: #ffffff;
    width: 100%;
}

.list-news {
	margin-top: 90px;
}

.item-news-list {
	margin-top: 40px;
}

.item-news {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	min-height: 320px;
	background: #fff;
}

.item-news.about a {
	text-decoration: none;
}

.item-news.about a:hover .name::after {
	width: 100%;
}

.item-news .picture {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 40%;
	overflow: hidden;
}

.item-news .picture img {
	width: 100%;
}

.item-news .inf {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 59%;
	padding: 75px 80px 0 100px;
}

.item-news.full-news {
	padding: 30px 0;
	height: auto;
	margin-bottom: 0;
}

.item-news.full-news .inf {
	padding: 0;
	width: 47%;
	line-height: 25px;
}

.item-news .inf .date {
	color: #000;
	font-size: 14px;
	margin-bottom: 13px;
}

.item-news .inf .name {
	position: relative;
	display: inline-block;
	color: #000;
	font-size: 30px;
	margin-bottom: 20px;
	line-height: 35px;
}

.item-news .inf .text {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
	color: #444444;
}

.item-news.full-news img {
	margin-bottom: 50px;
	margin-top: 50px;
	display: inline-block;
	width: 100%;
}

.more {
	width: 100%;
	display: inline-block;
	text-align: center;
	height: 160px;
}

.more a {
	line-height: 160px;
	color: #000;
	text-decoration: none;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.no-touch .more a:hover {
	color: #9d776e;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.podrobno {
	position: relative;
	margin-left: 20px;
	color: #9d776e;
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
}

.podrobno::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: inherit;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.no-touch .podrobno:hover::after,  .no-touch .item:hover p::before {
	width: 100%;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.desc-cart-top {
	font-weight: 600;
	color: #010101;
	line-height: 70px;
	text-align: center;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
}

.desc-cart-top__back {
	margin-top: 35px;
	padding: 10px;
}

.wrap-item-cart {
	background: #fff;
	width: 100%;
	display: inline-block;
	position: relative;
	margin-bottom: 18px;
	height: 125px;
}

.item-cart {
	width: 1080px;
	display: block;
	margin: 0 auto;
}

.item-cart table {
	width: 100%;
}

.item-cart.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	height: 170px;
}

.item-cart .pic {
	padding: 17px;
	width: 145px;
	vertical-align: middle;
}
.item-cart .pic img {
	width: 100%;
}
.item-cart .desc {
	padding-left: 75px;
	width: 600px;
	vertical-align: middle;
}

.item-cart .delete-item {
	width: 50px;
	vertical-align: middle;
	text-align: right;
	color: #a98780;
}

.delete {
	display: inline-block;
	padding: 3px 5px;
	font-size: 12px;
	color: inherit;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
}

.no-touch .item-cart .delete:hover {
	color: #000;
}

.item-cart .desc .name {
	display: inline-block;
}

.list-order {
	width: 100%;
	margin: 40px 0;
}

.list-order td {
	width: 50%;
	padding: 10px 0;
	vertical-align: middle;
}

.list-order img {
	max-width: 100px;
	max-height: 40px; 
}

.list-order td:first-child {
	padding-right: 2%;
	text-align: right;
}

.list-order td:last-child {
	padding-left: 2%;
	text-align: left;
	color: #a98780;
}

.item-cart .count-page {
	width: 180px;
	vertical-align: middle;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.item-cart .count-page .num {
	margin-right: 0;
}

.item-cart .count-page .num.sht {
	width: auto;
	margin-right: 0;
}

.item-cart .sum {
	color: #a98780;
	font-size: 24px;
	vertical-align: middle;
}

.item-cart .sum.all {
	padding-bottom: 20px;
	display: inline-block;
}

.item-cart .sum .text {
	color: #000000;
	text-transform: uppercase;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.btn-order {
    min-width: 110px;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #9d776e;
    text-decoration: none;
    -webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.no-touch .btn-order:hover {
	color: #fff;
	background: #7f6059;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

/*Pro*/
.pro-poster {
	padding: 160px 0 178px 0;
	color: #fff;
	background-color: #020202;
}

.pro-poster .tx-item {
	float: left;
	max-width: 555px;
}

.pro-poster .tx-item a {
	min-width: 165px;
	min-height: 36px;
	margin-right: 15px;
	margin-bottom: 30px;
	padding: 12px;
	font-size: 	12px;
	text-transform: uppercase;
}

.pro-poster .h3 {
	margin-bottom: 26px;
	font-size: 30px;
}

.pro-poster p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 17px;
}

.pro-poster .logo-item {
	width: 350px;
	float: right;
	margin-top: 67px;
}

.pro-poster .btn-field {
	padding-top: 5px;
}

.send-mails {
	float: left;
	width: 80%;
	margin-top: 30px;
	margin-left: 30px;
}

.send-mails label {
	font-size: 12px;
}

/*---------ready-solution_wedding.html---------*/
.wrapping {
	max-width: 1060px;
	margin: auto;
}

.rs_w-wrap {
	margin-top: 45px;
	padding-bottom: 100px;
}

.rs_w-wrap .item {
	background-color: #fff;
}

.rs_w-wrap p {
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.list-var-2 .item {
	position: relative;
	float: left;
	width: 47.1698113208%;
	margin-right: 5.66037735849%;
	margin-bottom: 35px;
}

.list-var-2 .item:nth-child(2n) {
	margin-right: 0;
}

.list-var-2 .item img {
	max-width: 100%;
}

.list-var-2 .item-collection {
	width: 48%;
	margin-right: 4%;
}

.list-var-2 .item-collection:nth-child(2n) {
	margin-right: 0;
}

.list-var-3 .item {
	width: 32.0754717%;
	margin-right: 1.88679245283%;
}

.list-var-3 .item.active {
	outline: 2px solid #9d776e;
}

.list-var-3 .item img {
	width: 100%;
	max-width: 340px;
	height: 240px;
}

.list-var-4 .item {
	width: 24%;
	margin-right: 1.33%;
}
.list-var-4 .item img {
	width: 100%;
}

.list-var-4 .item:nth-child(4n) {
	margin-right: 0;
}

.list-var-4 .item p {
	padding: 10px 0;
}

.list-var-3 .item, .list-var-4 .item {
	position: relative;
	float: left;
	margin-bottom: 35px;
}

.item-collection .part-link, .list-var-3 .item p, .item p {
	display: inline-block;
	position: relative;
	width: 100%;
	cursor: pointer;
	text-decoration: none;
	color: #666;
	vertical-align: middle;
	-webkit-transition: all .5s;
    transition: all .5s;
    z-index: 9;
}

.item-collection .link-collection p::before, .item-collection .part-link::before, .list-var-3 .item p::before, .item p:before {
	content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
	width: 0;
	border-bottom: 2px solid #9d776e;
	-webkit-transition: all .5s;
    transition: all .5s;
}

.modal-wrapper .item-collection .part-link::before,
.modal-wrapper .item-collection:hover .part-link::before {
	border-bottom: 0;
}

.no-touch .item-collection .link-collection:not(.leatherette, .leather):hover p::before, 
.no-touch .list-var-3 .item:hover p::before,  
.no-touch .item:hover p::before {
	width: 100%;
}

.no-touch .item-collection:hover .part-link::before {
	width: 100%;
}

.list-var-3 .item:nth-child(3n) {
	margin-right: 0;
}

/*-----postage-charge-----*/
.postage-charge {
	margin-top: 90px;
	margin-bottom: 33px;
}

.postage-charge .wrapper{
	max-width: 940px;
	margin-right: 110px;
}

.postage-charge  .row {
	margin-bottom: 45px;
}

.postage-charge .name, .postage-charge .description {
	float: left;
}

.postage-charge .name {
	width: 140px;
	margin-right: 90px;
	font-size: 	24px;
	text-align: right;
}

.postage-charge .name span {
	display: inline-block;
	padding-bottom: 10px;
	color: #000;
	font-size: 24px;
	border-bottom: 2px solid #000000;
	text-decoration: none;
}

.postage-charge ul {
	margin-bottom: 	40px;
}

.postage-charge ul li {
	margin-bottom: 10px;
}

.postage-charge ul li a {
	color: #000;
	text-decoration: none;
}

.postage-charge ul:last-child {
	margin-bottom: 	0;
}

.no-touch .postage-charge .name:hover a {
	color: #9d776e;
	border-color: #9d776e;
}

.postage-charge .description{
	width: 275px;
	margin-right: 97px;
}

.postage-charge .description p {
	margin-top: 3px;
	margin-bottom: 28px;
    font-size: 14px;
    line-height: 17px;
}

.postage-charge img {
	float: right;
	width: 	34%;
	margin-top: 10px;
}

/*-----order------*/
.block-order {
	margin-top: 50px;
	margin-bottom: 125px;
}

.block-order h3 {
	margin-bottom: 20px;
}

.block-order .wrap-col-2 {
	max-width: 820px;
	margin: auto;
}

.block-order .col-2 {
	float: left;
	width: 320px;
    margin-right: 180px;
}

.block-order .small {
	margin-top: 5px;
    color: #787878;
    font-size: 12px;
    line-height: 15px;
}

.block-order .col-2:nth-of-type(2n) {
	margin-right: 0;
}

.block-order .col-3 .w100 {
	width: 100%;
}

.block-order .checkboxes {
	margin-top: 30px;
	margin-bottom: 25px;
}

.block-order  .col-2 .field {
	margin-bottom: 20px;
	margin-left: 29px;
}

.block-order .checkbox:not(checked) + label {
	color: #aaaaaa;
}

.block-order .checkbox:checked + label {
	color: #797979;
}

.block-order .input-customize {
	width: 100%;
}

.block-order .radiochoose {
	margin: 0 0 18px;
}

.block-order .picked-item {
	display: inline-block;
	margin-right: 10px;
	color: #797979;
	text-decoration: none;
}

.block-order .picked-item label {
	cursor: pointer;
	font-weight: 700;
}

.block-order .del-company a:nth-child(2n) {
	margin-right: 0;
}

.block-order .active {
	color: #b8a09a;
	font-weight: 700;
}

.block-order .send-order .btn {
	min-width: 145px;
	margin: 40px 30px 0 0;
	font-size: 15px;
	text-transform: lowercase;
}

.wrap-block__delivery-names {
	height: 50px;
}
/*=============================================================================================FOOTER*/
.wrap-footer {
	position: relative;
	bottom: 0;
	width: 100%;
	display: block;
	background: #1b1f29;
	margin-top: -460px;
	z-index: 10;
}

footer {
	height: 65px;
	position: relative;
	bottom: 0;
	width: 1200px;
	margin: 0 auto;
	display: block;
	background: #1b1f29;
}

footer .logo-footer {
	padding: 32px 10px;
	float: left;
}



footer .copy {
	float: left;
	padding-top: 15px;
}

footer .copy p {
	line-height: 18px;
	color: #6b6a69;
	font-size: 14px;
}

footer .developed {
	float: right;
	padding: 0px 15px 10px 30px;
	/*background: url(../img/kamod.png) no-repeat;*/
	background: url(../img/kamod-white.png) no-repeat;
	background-position: 0 0;
	font-size: 11px;
	margin-left: 10px;
	margin-top: 15px;
	color: #afafaf;
}

.no-touch footer .developed:hover {
	color: #9d776e;
	background-position: 0 -52px;
}

footer .developed p {
	color: #afafaf;
	text-align: left;
	line-height: 14px;
}

footer .developed a {
	font-size: 14px;
	color: #afafaf;
	text-decoration: none;
}

/*==================================================jquery.kamod*/

.kamod-overlay,
.modal-wrapper,
.kamod-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.kamod-container {margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .kamod-container { height: 100% }
.kamod-container_i { height: 100%; margin: 0 auto; }
.kamod-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.kamod-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.kamod-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }

.modal-wrapper {
	display: none;
	background-color: rgba(0,0,0,0.5);
}

.modal-wrapper .box-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/*==================================================simple*/
.box-modal {
	position: relative;
	width: 840px;
	max-height: 650px;
	padding: 30px;
	background: #fff;
	overflow-x: hidden;
	overflow-y: auto;
}

.registrationModal {
	overflow: visible !important;
}

.box-modal1 {
	position: relative;
	width: 340px;
	padding: 50px;
	background: #fff;
}

.box-modal_close { 
	position: absolute;
	right: 25px;
	top: 6px;
	font-size: 11px; 
	line-height: 15px;
	color: #999; 
	cursor: pointer;
	z-index: 5;
}

.no-touch .box-modal_close:hover {
	color: #666;
}

.box-modal .user-check {
	position: absolute;
    bottom: 30px;
    right: 42px;
}

.box-modal .modals-back {
	position: absolute;
    bottom: 30px;
    left: 32px;
}

.modal-type .bot-links {
	display: table;
	width: 100%;
	margin-top: 30px;
}

.forgot-pass {
	margin-top: 20px;
	text-align: left;
}

.forgot-pass label {
	margin-left: 30px;
	font-size: 12px
}

.forgot-pass__link {
	display: inline-block;
	color: #a2a2a2;
	font-size: 12px;
	text-decoration: underline;
}

.modal-type .btn {
	display: table-cell;
	vertical-align: middle;
}

.modal-type .bot-links {
	color: #9d776e;
	font-size: 14px;
}

.req-modalWin img {
	width: 100%;
}

.req-modalWin p {
	margin-top: 20px;
	text-align: center;
}

header li#modal-registr {
	position: relative;
	z-index: 1000;
}

.feedback.popap {
	border: 0;
	padding: 0;
	height: 330px;
	width: auto;
	margin-bottom: 0;
	padding-top: 40px;
}

.feedback.popap .inp.sel {
	color: #6cac62;
	font-size: 14px;
	text-transform: uppercase;
}

.feedback.popap .inp {
	border: 1px solid #d3e6d0;
}

.cost-popap-text {
	display: inline-block;
	width: 381px;
	position: relative;	
	padding: 30px 0px 70px 40px;
}

.cost-popap-text .name {
	color: #313544;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	margin-bottom: 10px;
}

.cost-popap-text .text {
	color: #313544;
	font-size: 15px;
	line-height: 23px;
}


/*=======================================================================================bxslider*/

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  display: inline-block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

.bxslider .two-big-preview a {
	display: inline-block;
	width: 49%;
}
.bxslider .two-big-preview a img {
	width: 100%;
}

#slides .slidesNext {
	right:-35px;
	left:auto;
}

#slides .slidesPrevious {
	left:-35px;
}

section.big-slider,
section.about {
	width: 100%;
}

.big-slider {
	position: relative;
}

.big-slider .bxslider {
	max-height: 420px;
	overflow: hidden;
}

.big-slider li {
	text-align: center;
}

.big-slider .box-text {
	display: inline-block;
	position: absolute;
	top: 100px;
	left: 16%;
	text-align: left;
	z-index: 5;
	transition: transform 1s;
}

.big-slider .box-text .some-text {
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}

.big-slider .box-text .name {
	color: #fff;
	font-size: 72px;
	line-height: 1em;
	margin-bottom: 43px;
}

.big-slider .box-text .btn-slider {
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
	text-decoration: none;
	border-bottom: 4px solid #fff;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.no-touch .big-slider .box-text .btn-slider:hover {
	color: #ccc;
	border-color: #ccc;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}


/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
  display: none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}
.no-touch .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 0px;
  background: url(images/controls.png) no-repeat 0px -47px;
}
.no-touch .bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0px;
}
.bx-wrapper .bx-next {
  right: 0px;
  background: url(images/controls.png) no-repeat -27px -47px;
}
.no-touch .bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -27px 0px;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  display: none;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 30px;
  height: 44px;
  text-indent: -9999px;
  z-index: 9;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

.slider-book .bx-wrapper .bx-controls-direction a {
	display: block;
	top: 120%;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.no-touch .bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.no-touch .bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}


/*MODAL WINDOWS*/
.modal-wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(42,35,33,0.91);
	z-index: 99;
}

#registrationModal .box-modal {
	position: relative;
	padding: 45px 60px 25px;
	background-color: #fff;
}

.modal-body .close-img {
	position: absolute;
	top: 0;
	right: -32px;
	cursor: pointer;
}

.modal-body .w25 {
	float: left;
	width: 25%;
}

.modal-body .w33 {
	float: left;
	width: 33.3333%;
}

.modal-body .colum-item {
	float: left;
	width: 26%;
	margin-right: 11%;
}

.modal-body .fieldset {
	position: relative;
}

.validate .val-mess {
	display: none;
	position: absolute;
	background-color: #f2f2f2;
	top: -35px;
	left: 50%;
	width: 100%;
	padding: 10px;
	color: #888;
	font-size: 12px;
	text-align: center;
	border: 2px solid #7f6059;
	border-radius: 10px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.validate .val-mess::after {
	content:'';
	position: absolute;
	left: 50%; 
	bottom: -12px;
	border: 5px solid transparent;
	border-top: 5px solid #7f6059;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.modal-body .w66 {
	float: left;
	width: 55%;
}

.modal-body .colum-item:nth-of-type(3n) {
	margin-right: 0;
}

.modal-head {
	margin-bottom: 40px;
	font-size: 24px;
}

.modal-content .btn {
	display: inline-block;
	margin-top: 20px;
}

.modal-content .btn.registration {
	padding-top: 9px;
}

.modal-footer {
	margin-top: 20px;
	color: #888888;
	font-size: 12px;
	text-align: center;
}

.modal-content .input-customize  {
	width: 100%;
}

.free-makets {
	position: absolute;
	left: 50%;
	bottom: 50px;
	color: #fff;
	text-align: center;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

button img {
	width: 10px;
}

.preloader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: 99999;
}

.preloader img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/**********OWL MODAL SLIDER**********/
#sync1 {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#sync1 .item {
    color: #FFF;
    text-align: center;
}

#sync1 .item img {
	width: 100%;
}

.syncCB .item {
	width: 100%;
	margin-right: 0;
    color: #FFF;
    text-align: center;
    border-bottom: 0;
}

#sync2 .owl-item {
	width: 82px!important;
	margin-right: 4px;
}

#sync2 .item {
    background: #C9C9C9;
    width: 100%;
    padding: 8px 0px 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

#sync2 .item img, .syncCM .item img {
	width: 100%;
}

#sync2 .synced .item {
  background: #9d776e;
}

.syncCM {
	margin-top: 24px;
}

.syncCM.owl-carousel {
	width: 393px;
	margin-right: auto;
	margin-left: auto;
}

.syncCM .item {
    width: 100%;
    padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0;
	padding-left: 2px;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.syncCM .synced .item {
	border: 1px solid #aaa;
}

.slider-book .owl-buttons {
	position: absolute;
	bottom: -60px;
	width: 100%;
}

.slider-book .owl-theme .owl-controls .owl-buttons div {
	width: 15px;
	height: 25px;
	padding: 0;
	background-image: url(../css/images/controls.png);
	-webkit-background-size: 32px;
	background-size: 32px;
	background-repeat: no-repeat;
	-webkit-transition: background 0s;
	-moz-transition: background 0s;
	transition: background 0s;
}

.slider-book .owl-prev {
	position: absolute;
	left: 40px;
}

.no-touch .slider-book .owl-prev:hover {
	background-position: 0 -26px;
}

.slider-book .owl-next {
	position: absolute;
	right: 40px;
	background-position: -18px 0;
}

.no-touch .slider-book .owl-next:hover {
	background-position: -18px -26px;
}

/******PRIVILEGES*******/
.privileges {
	margin-top: 80px;
	margin-bottom: 80px;
}

.privileges__name {
	margin-bottom: 150px;
	color: #9d776e;
	font-size: 30px;
}

.privileges__item {
	float: left;
	width: 20%;
	min-height: 200px;
	margin-bottom: 90px;
	text-align: center;
	cursor: pointer;
}

.privileges__item__tx {
	margin-top: 45px;
	padding-right: 10%;
	padding-left: 10%;
	font-size: 18px;
	font-weight: 300;
}

.privileges-box-modal {
	position: relative;
	width: 500px;
	padding: 50px;
	background-color: #fff;
}

.privileges-box-modal .modal-head {
	color: #9d776e;
	font-weight: 300;
}

.privelegesModal-tx {
	font-size: 14px;
	font-weight: 300;
}